$width: calc(1920px/2);
$height: calc(1080px/2);
$speed: 800ms;

body {
    background: #333;
}

#frame {
    width: $width;
    height: $height;
    background: gray;
    position: fixed;
    top: 20px;
    left: 20px;
    overflow: hidden;
}

.item {
    width: $width;
    height: $height;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 100%) scale(1);
    transform-origin: center center;
    transition: all $speed cubic-bezier(0.77, 0, 0.175, 1);
    overflow: hidden;


    video {
        width: 100%;
        // border-radius: 3px
    }

    &.show {
        transform: translate(0%, 0%) scale(1);
    }

    &.press {
        transform: translate(0, 0) scale(0.75);
        -webkit-box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.29);
        box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.29);
    }

    &.hide {
        transform: translate(0, -100%) scale(1);
    }
}